@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#loading-screen {
  background-image: url(title.png);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
  z-index: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.menu {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 1%;
  font-size: 1.5em;
  padding: 10px 30px;
}

.reset__btn {
  border: 3px solid white;
  border-radius: 50px;
  background-color: #9370db;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.aim_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.aim {
  width: 30px;
  height: 30px;
  z-index: 3;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 502 502' style='enable-background:new 0 0 502 502;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M492,240.641h-28.648c-5.013-109.268-92.955-197.258-202.204-202.346V10c0-5.523-4.477-10-10-10s-10,4.477-10,10v28.295 C131.9,43.383,43.958,131.373,38.945,240.641H10c-5.523,0-10,4.477-10,10s4.477,10,10,10h28.956 c5.159,109.131,93.042,196.966,202.192,202.049V492c0,5.523,4.477,10,10,10s10-4.477,10-10v-29.309 c109.15-5.084,197.033-92.919,202.192-202.049H492c5.523,0,10-4.477,10-10S497.523,240.641,492,240.641z M241.148,58.311v30.797 c-81.264,4.983-146.484,70.25-151.394,151.533H58.958C63.936,142.402,142.929,63.363,241.148,58.311z M241.148,442.674 c-98.12-5.047-177.05-83.932-182.172-182.033h30.797c5.051,81.145,70.211,146.259,151.375,151.236V442.674z M251.148,329.79 c-5.523,0-10,4.477-10,10v52.049c-70.132-4.914-126.35-61.084-131.336-131.197h52.398c5.523,0,10-4.477,10-10s-4.477-10-10-10 h-52.417c4.848-70.251,61.124-126.573,131.355-131.494v53.063c0,5.523,4.477,10,10,10c5.523,0,10-4.477,10-10v-53.063 c73.486,5.149,131.703,66.573,131.703,141.346S334.635,386.69,261.148,391.838V339.79 C261.148,334.267,256.671,329.79,251.148,329.79z M261.148,442.675v-30.797c81.164-4.977,146.325-70.091,151.375-151.236h30.797 C438.199,358.742,359.269,437.627,261.148,442.675z M412.543,240.641c-4.91-81.283-70.131-146.55-151.394-151.533V58.311 c98.219,5.052,177.212,84.091,182.19,182.33H412.543z'/%3E%3Cpath d='M339.79,260.641H360c5.523,0,10-4.477,10-10s-4.477-10-10-10h-20.21c-5.523,0-10,4.477-10,10 S334.267,260.641,339.79,260.641z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  width: 30px;
  height: 30px;
}

.point {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.point.visible .label {
  transform: scale(1, 1);
}

.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.point:hover .text {
  opacity: 1;
}
